@page
@model Hilton_Hotels.Pages.Customer.RegisterModel
@{
}
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="registerCostumer.UserName"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="registerCostumer.UserName" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="registerCostumer.UserName"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="registerCostumer.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="registerCostumer.Password" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="registerCostumer.Password"></span>
        </div>
       
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="registerCostumer.Name"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="registerCostumer.Name" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="registerCostumer.Name"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="RegisterUser" />
            </div>
            <div class="col-5">
            </div>
        </div>
    </form>
</div>